.root{
    height: 100vh;
}

.contactFormWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.formWrapper {
    flex: 1;
}

.mapWrapper {
    flex: 1;
}